
  body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  	background: #f7f7f7;
  }

  .bande{
   	width: 100%;
    height: 9px;
    transform: rotate(-40deg);
    /* position: absolute; */
    margin-left: -40%;
  }
  #bande-rouge{
  	background: red;

  }
  .bobo{
   bottom: 50%;
    position: absolute;
    width: 100%;
    display: none;
  }
  .bobo img{
  	width: 150px;
  	float: right;
  }
.jjf {
    background: #000 none repeat scroll 0 0;
    clear: both;
    color: #fff;
    float: right;
    font-size: 1.4rem;
    padding: 5px;
    text-align: center;
    width: 150px;
}
.site-name{
    border-bottom: 2px solid;
    font-size: 3rem;
    font-weight: bold;
    text-transform: uppercase;
}
  #bande-vert{
  	background: green;
  }
  #bande-jaune{
  	background: yellow;
  }
  #render-result img, #image_result{
  	height: auto;
  	width: 400px;
  }
  header{
  	margin-bottom: 30px;
  }
  .step {
    font-size: 0.7rem;
    text-align: left;
}
  .step ol{
  	padding-left: 15px;
  }
  #image_preview{
  	height: 400px;
  	width: auto;
  }
  #preview{
  	width: 100%;
  	overflow: hidden;
  	
  }
  #photo-wrapper{
  	margin-top: 30px;
  }
  #sharePic, #download_pic{
  	padding-top: 5px;
  	margin-top: 15px;
  	height: 45px;
  	width: auto;
  }

@media (min-width: 320) and (max-width: 480px) {
  .bobo { display: none; }
  #render-result img, #image_result{
  	height: auto;
  	width: 300px;
  }
}
#button-upload{ 
	width: 50%;
	margin: auto;
	float: none !important;
	display: block;
}
#render-result img, #image_result{
    display: block;
    /*height: 400px !important;*/
    margin: auto;
    text-align: center;
    /*width: auto;*/
}